body {
    background-color: #000000;
    align-items: center;
    margin: 0px;
}
h2 {
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
}
#pantalla-carga {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

#pantalla-carga.oculta {
    opacity: 0;
    pointer-events: none;
}


.trazo {
    fill: none;
    stroke: #555;
    stroke-width: 3;
    stroke-linecap: round;
}

.cabeza {
    stroke-dasharray: 64;
    stroke-dashoffset: 64;
    animation: dibujarInverso 2s ease infinite;
}

.plica {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dibujarPlica 2s ease infinite;

}

.corchete {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: dibujarCorchete 2s ease infinite;

}


.contenedor-cambio {
    display: flex;
    gap: 102px;
    justify-content: center;
}
.cambio h2 {
    background-color: rgb(45, 45, 54);
    padding: 10px 20px;
    margin-top: 10px;
    border: 3px solid #444;
    border-radius: 2px;
}
.cambio-activadoX h2 {
    background-color: rgb(90, 90, 110);
    padding: 10px 20px;
    margin-top: 10px;
    border: 3px solid #999;
    border-radius: 1px;
}
.cambio-activadoZ h2 {
    background-color: rgb(90, 90, 110);
    padding: 10px 20px;
    margin-top: 10px;
    border: 3px solid #999;
    border-radius: 1px;
}

section {
    margin: 0px;
}
#caja-piano {
    height: 550px;
    width: auto;
    background-image: linear-gradient(rgba(21, 0, 0, 0.723), rgba(47, 7, 0, 0.563)),
    url(../img/madera.jpg);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    padding: 35px;
    margin: 0 auto;
    box-shadow: 
    inset 0 12px 25px rgba(0,0,0,0.9),
    inset 0 -6px 12px rgba(0,0,0,0.2);
    margin-top: -6px;
    position: relative;
    border-radius: 8px;
}
#teclado {
    position: relative;
    display: flex;
    height: 480px; 
    width: 840px;
    margin: 0 auto;
    margin-top: 6px;
    box-shadow: 
        inset 0 8px 15px rgba(0,0,0,0.8),
        inset 0 -4px 10px rgba(0,0,0,0.5),
        inset 5px 0 10px rgba(0,0,0,0.6),
        inset -5px 0 10px rgba(0,0,0,0.6);
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-top: 30px;
    border-radius: 8px;
}
#teclado::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: 8px;

    box-shadow: 
        inset 0 10px 100px -15px rgba(0,0,0,0.7),
        inset 6px 0 20px rgba(0,0,0,0.6),
        inset 1px 2px 3px rgba(255, 255, 255, 0.24);

    pointer-events: none; 
}
.tecla-blanca {
    width: 116px;
    height: 466px;
    background: linear-gradient(to bottom, #ffffff, #ccc);
    border: 2px solid #222;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    color : #555;
    border-radius: 0 0 7px 7px;
    padding-bottom: 10px;
}
.tecla-negra {
    position :absolute; 
    width: 72px;
    height: 270px;
    background: linear-gradient(90deg, #222, #000);
    border-radius: 0 0 7px 7px;
    color: #ccc;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    left: 200px;
    box-shadow: 
    -2px 0 5px rgba(0,0,0,0.3),
    3px 0 5px rgba(0,0,0,0.5); 
}

#contenedorPerilla {
    height: 88px;
    width: 88px;
    background: linear-gradient(90deg, #223, #010724);
    box-shadow: 
        inset 2px 4px 10px rgba(255, 255, 255, 0.214),
        4px 2px 4px 3px rgba(0, 0, 0, 0.357);
    border-radius: 50%;
    position: absolute;
    top: 480px;     
    left: 190px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#perillaVolumen {
    height: 76px;
    width: 76px;
    background: linear-gradient(90deg, #223, #010724);
    box-shadow: 
        inset 2px 4px 8px rgba(255, 255, 255, 0.406);
    border-radius: 50%;
    position: relative;
}
#indicador { 
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffffff75;
    position: absolute;
    top: 5px;              
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
}

#Volume {
    color: #ddd;
    display: flex;
    position: absolute;
    top: 555px;
    left: 204px;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}




/*Sustain*/
#sustain {
    height: 60px;
    display: flex;
    justify-content: center;
    margin-left: 744px;
    margin-top: -3px;
}

#sustain img{
    height: 100%;
    border-radius: 0 0 5px 0px;
}

#sustain.sustain-activado {
    margin-top: 0px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-left: 744px;
    filter: drop-shadow(0 0 4px #1b1b1b6c);
    filter: brightness(0.6);
}
.sustain-activado img{
    height: 100%;

    border-radius: 0 0 5px 5px;
}






.tecla-blanca-activada {
    background: linear-gradient(to bottom, #ddd, #bbb);
    color: #000000;
    margin-top: 2px;
}
.tecla-negra-activada {
    background: linear-gradient(to bottom, #222, #444);
    color: #ffffff;
    margin-top: 1px;
}



@media (max-width: 1500px) {
    #contenedorPerilla {
        top: 480px;     
        left: 80px;
    }
    #Volume {
        top: 555px;
        left: 74px;
    }
}

@media (max-width: 1300px) {
    #contenedorPerilla {
        top: 10px;
        left: 170px;
        width: 50px;

        height: 50px;
    }
    #perillaVolumen {
        width: 41px;
        height: 41px;
    }
    #Volume {
        display: none;
    }
}
@keyframes dibujarInverso {
    0%   { stroke-dashoffset: 64; }
    25%  { stroke-dashoffset: 128; }
    100% { stroke-dashoffset: 128; }
}

@keyframes dibujarPlica {
    0%   { stroke-dashoffset: 100; }
    25%  { stroke-dashoffset: 100; }
    50%  { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 0; }
}

@keyframes dibujarCorchete {
    0%   { stroke-dashoffset: 60; }
    50%  { stroke-dashoffset: 60; }
    75%  { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 0; }
}